extends includes/layout

block yield
  include includes/header
  main.container.fit
    section.gamer__card.gamer
      .row.gamer__profile
        .col.col__small.gamer__avatar: img(src=user.avatar, alt="Avatar")
        .col: .row
          .col.gamer__data
            p.gamer__name= user.name
            span.gamer__level= `Nível ${user.level}`
          .col.col__small: span.gamer__xp= `${user.score} xp`
      .row.gamer__details
        .col.gamer__specs
          .row
            .col.col__small
              h4 Mensagens enviadas
              p: strong= user.messages
            .col.col__small
              h4 Mensagens recebidas
              p: strong= user.replies
            .col.col__small
              h4 Reações dadas
              p: strong= user.reactions
    p.gamer__card-footer= `Faltam ${parseInt(user.next_level - user.score)} XP para chegar no Nível ${user.level + 1}`
  include includes/footer
